<h1>Cars</h1>




<ul ng-controller="AutomobileController" data-role="listview">
  <li ng-repeat="car in cars">
    <a href="#">
      <h4>{{car.make}} - {{car.model}}</h4>
      <span>{{car.year}}</span>
      </a>
  </li>
</ul>