@section Page {
  @*@Html.Partial("_Home")*@
  <div id="car-list" data-role="page" ng-controller="AutomobileController">
    <header data-role="header">
      <h1>Cars</h1>
      <a href="#car-detail" ng-click="addCar()" data-icon="add" class="ui-btn-right">New</a>
    </header>

    <div data-role="content" class="ui-content">
      <ul ng-controller="AutomobileController" data-role="listview">
        <li ng-repeat="car in cars">
          <a href="#car-list" ng-click="selectCar(car)">
            <h4>{{car.make}} - {{car.model}}</h4>
            <span>{{car.year}}</span>
          </a>
        </li>
      </ul>
    </div>

    @Html.Partial("_Footer")
  </div>

<div id="car-detail" data-role="page" ng-controller="AutomobileEditController">
  <header data-role="header">
    <a href="#" data-icon="back" data-rel="back">Back</a>
    <h1>{{car.make}} - {{car.model}}</h1>
    <a href="#car-list" ng-click="saveCar()" data-icon="check" class="ui-btn-right">Save</a>
  </header>

  <div data-role="content" class="ui-content">
    <form name="newCarForm">
      <ul data-role="listview" data-inset="true">
        <li data-role="fieldcontain">
          <label for="make">Make</label>
          <input id="make" type="text" ng-model="car.make" required placeholder="Make" />
        </li>
        <li data-role="fieldcontain">
          <label for="model">Model</label>
          <input id="model" type="text" ng-model="car.model" required placeholder="Make" />
        </li>
        <li data-role="fieldcontain">
          <label for="year">Year</label>
          <input id="year" type="number" ng-model="car.year" required min="1900" max="2020" />
        </li>
        <li data-role="fieldcontain">
          <label for="doors">Doors</label>
          <input id="doors" type="number" ng-model="car.doors" required min="2" max="7" />
        </li>
        <li>
          <label for="trim">Trim</label>
          <input id="trim" type="text" ng-model="car.trim" placeholder="Trim" />
        </li>
      </ul>
      <button data-inline="true" ng-disabled="newCarForm.$invalid" ng-click="completeCar(car, newCarForm)">
        Save Car
      </button>
      <button data-inline="true" ng-click="cancelCar()">
        Cancel
      </button>
    </form>
  </div>
  @Html.Partial("_Footer")
</div>
}

@section Scripts {
  @Scripts.Render(ScriptBundlePaths.HomePage)
}